.top-left {
    position: absolute;
    top: 55px;
    left: 16px;
    color: #f1d165;
    font-size: 550%;
    font-family: "Luckiest Guy", cursive;
}

.bottom-left {
    position: absolute;
    bottom: 540px;
    left: 23px; 
    color: #f1d165;
    font-size: 270%;
    font-family: "Indie Flower", cursive;
    font-weight: 100;
  }

h2 {
    background-color: #654A91;
    margin: 0;
    color: #f1d165;

}

body {
  background-color: #d0c2dc;
}

p {
  background-color: #d0c2dc;
  margin: 0;
  width: 100%;
  height: 363px;
  font-family: "Indie Flower", cursive;
  font-size: 40px;
}

.down {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
}

.number1 {
  font-family: "Indie Flower", cursive;
  font-size: 37px;
}

.number2 {
  font-family: "Indie Flower", cursive;
  font-size: 36px;
}

.number3 {
  font-family: "Indie Flower", cursive;
  font-size: 36px;
}

.number4 {
  font-family: "Indie Flower", cursive;
  font-size: 36px;
}

.number5 {
  font-family: "Indie Flower", cursive;
  font-size: 36px;
}

.number6 {
  font-family: "Indie Flower", cursive;
  font-size: 36px;
}

footer p {
  background-image: url(../images/DesktopHeader-01.jpg);
  width: 1517px;
  height: 270px;
  background-size: cover;
  background-position: bottom;
  color: #f1d165;
  font-family: "Indie Flower", cursive;
}

/* Centered text */
.centered {
  position: absolute;
  top: 410%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container {
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-end;
}


.text {
  font-size: 20px;
  padding-left: 17px;
}


