/* bottom left text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 42px;
    left: 16px;
  }

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 16px;
  }