@media only screen and (max-width: 1282px) and (max-width: 2000px) {
    body {
        color: blue;
        font-family: Baskerville, "Palatino linotype", Palation, "Century Schoolbook L", "Times New Roman", "serif";
        background-color: white;
    }
}

@media only screen and (max-width: 1282px) and (max-width: 2000px) {
    body {
      background-color: red;
      color: black;
    }
}

@media only screen and (max-width: 962px) and (max-width: 1281px) {
    body {
        background-color: violet;
        color: white;
    }
}

@media only screen and (max-width: 700px) {
    body {
      background-color: blue;
      color: white;
      font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    }
  }

@media only screen and (max-width: 641px) {
    body {
      background-color: green;
      color: purple;
    }
  }
h1 {
    font-size: 4em;
}

p {
    font-size: 1.2em;
}

@media only screen and (max-width: 485px) {
    body {
      background-color: yellow;
      color: black;
    }
  }

